.get_password,.install_password {
	width: 978px;
	min-height: 300px;
	border: 1px solid #e3e3e3;
	overflow: auto;
	overflow-y: hidden;
	overflow-x: hidden;
	clear: both
}

.get_password h2,.install_password h2 {
	width: 978px;
	height: 30px;
	float: left;
	margin: 0 0 10px 0;
	padding: 13px 0 0 0
}

.get_password h2 span,.install_password h2 span {
	width: 163px;
	height: 30px;
	display: block;
	text-indent: -9999px;
	float: left;
	background: url(/Images/login.png) no-repeat 0 -36px
}

.install_password h2 span {
	background: url(/Images/login.png) no-repeat 0 -680px
}

.get_password h2 p,.install_password h2 p {
	width: 100px;
	height: 28px;
	float: left;
	line-height: 28px;
	padding: 0 15px 0 700px;
	color: #939393;
	border-bottom: 2px solid #eee
}

.get_password .get_password_box .tab {
	width: 978px;
	height: 110px;
	padding: 10px 0 0 0;
	clear: both
}

.get_password .get_password_box dl.password_tel {
	width: 398px;
	height: 101px;
	display: block;
	float: left;
	background: url(/Images/regbg.png);
	margin: 0 0 0 76px; *
	margin: 0 0 0 76px;
	_margin: 0 0 0 38px;
	cursor: pointer
}

.get_password .get_password_box dl.password_tel dt {
	width: 235px;
	height: 59px;
	float: left;
	margin: 10px 20px 0 21px; *
	margin: 10px 20px 0 21px;
	_margin: 10px 20px 0 11px;
	background: url(/Images/login.png) no-repeat 0 -390px;
	text-indent: -9999px
}

.get_password .get_password_box dl.password_tel dd {
	width: 398px;
	height: 30px;
	float: left;
	text-indent: 97px;
	margin-top: -15px;
	color: #f60
}

.get_password .get_password_box dl.password_email {
	width: 378px;
	height: 92px;
	display: block;
	float: right;
	background: #f9f9f9;
	border: 1px solid #e6e5e5;
	padding-left: 20px;
	margin: 0 74px 0 0; *
	margin: 0 74px 0 0;
	_margin: 0 37px 0 0;
	cursor: pointer
}

.get_password .get_password_box dl.password_email dt {
	width: 235px;
	height: 54px;
	float: left;
	margin: 14px 0 0 0;
	background: url(/Images/login.png) no-repeat 0 -450px;
	text-indent: -9999px
}

.get_password .get_password_box dl.password_email dd {
	width: 378px;
	height: 30px;
	float: left;
	text-indent: 74px;
	margin-top: -15px;
	color: #a4a4a4
}

.get_password .get_password_box dl.password_tel_click {
	width: 376px;
	height: 92px;
	display: block;
	float: left;
	background: #f9f9f9;
	border: 1px solid #e6e5e5;
	padding-left: 20px;
	margin: 0 0 0 76px; *
	margin: 0 0 0 76px;
	_margin: 0 0 0 38px;
	cursor: pointer
}

.get_password .get_password_box dl.password_tel_click dt {
	width: 235px;
	height: 59px;
	float: left;
	margin: 10px 15px 0 0;
	background: url(/Images/login.png) no-repeat 0 -511px;
	text-indent: -9999px
}

.get_password .get_password_box dl.password_tel_click dd {
	width: 378px;
	height: 30px;
	float: left;
	text-indent: 76px;
	margin-top: -16px;
	color: #a4a4a4;
	cursor: pointer
}

.get_password .get_password_box dl.password_email_click {
	width: 398px;
	height: 101px;
	display: block;
	float: right;
	background: url(/Images/regbg.png);
	margin: 0 76px 0 0; *
	margin: 0 76px 0 0;
	_margin: 0 37px 0 0;
	cursor: pointer
}

.get_password .get_password_box dl.password_email_click dt {
	width: 235px;
	height: 54px;
	float: left;
	float: left;
	margin: 15px 20px 0 21px; *
	margin: 15px 20px 0 21px;
	_margin: 15px 20px 0 11px;
	background: url(/Images/login.png) no-repeat 0 -570px;
	text-indent: -9999px
}

.get_password .get_password_box dl.password_email_click dd {
	width: 378px;
	height: 30px;
	float: left;
	text-indent: 95px;
	margin-top: -15px;
	color: #f60
}

.get_password .get_password_box ul,.install_password .install_password_box ul
	{
	width: 828px;
	padding: 10px 75px 0 75px;
	clear: both
}

.get_password .get_password_box ul li,.install_password .install_password_box li
	{
	width: 828px;
	padding: 8px 0;
	float: left
}

.get_password .get_password_box ul li.wait {
	width: 670px;
	padding: 18px 0 20px 130px
}

.get_password .get_password_box ul li.wait p {
	width: 158px;
	height: 32px;
	line-height: 32px;
	display: block;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	float: left;
	background: url(/Images/arrow_button.png) no-repeat 0 -190px
}

.get_password .get_password_box ul li.wait p span {
	width: 16px;
	height: 16px;
	overflow: hidden;
	display: block;
	float: left;
	text-indent: 9999px;
	background: url(/Images/loding.gif) no-repeat;
	margin: 8px 3px 0 10px;
	padding: 0
}

.get_password .get_password_box ul li input.tel_text,.get_password .get_password_box ul li input.verification,.install_password .install_password_box ul li input.password_text
	{
	width: 230px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	font-family: arial;
	border: 0;
	border: 1px solid #c7c7c7;
	float: left;
	text-indent: 8px
}

.get_password .get_password_box ul li.init input,.install_password .install_password_box ul li.init input
	{
	width: 228px;
	height: 26px;
	line-height: 26px;
	border: 0;
	border: 2px solid #ffa664;
	background: #fffcf5;
	float: left;
	text-indent: 7px;
	font-size: 14px;
	font-family: arial
}

.get_password .get_password_box ul li input.verification {
	width: 127px
}

.get_password .get_password_box ul li.init input.verification {
	width: 125px
}

.get_password .get_password_box ul li.init,.install_password .install_password_box ul li.init
	{
	background: #fffbe0
}

.install_password .install_password_box ul li p {
	width: 828px;
	float: left
}

.install_password .install_password_box ul li.init {
	padding: 8px 0 8px 0
}

.get_password .get_password_box ul li span,.install_password .install_password_box ul li span
	{
	width: 75px;
	line-height: 28px;
	display: block;
	float: left;
	text-align: right;
	padding: 0 5px 0 50px
}

.get_password .get_password_box ul li div,.install_password .install_password_box ul li div
	{
	width: 320px;
	height: 28px;
	line-height: 28px;
	margin: 0 0 0 20px;
	color: #666;
	float: left;
	overflow: hidden
}

.regsiter .regsiter_box ul li div.ok,.install_password .install_password_box ul li div.ok,.get_password .get_password_box ul li div.ok
	{
	background: url(/Images/arrow_button.png) no-repeat -170px -115px;
	text-indent: -9999px
}

.regsiter .regsiter_box ul li div.wrong,.install_password .install_password_box ul li div.wrong,.get_password .get_password_box ul li div.wrong
	{
	width: 300px;
	background: url(/Images/arrow_button.png) no-repeat -170px -73px;
	color: #f60;
	padding: 0 0 0 20px
}

.get_password .get_password_box ul li input.get_ver {
	width: 93px;
	height: 29px;
	line-height: 29px;
	font-size: 12px;
	font-family: arial;
	text-align: center;
	text-indent: 0;
	display: block;
	border: 0;
	cursor: pointer;
	margin: 0 0 0 10px;
	float: left;
	background: url(/Images/arrow_button.png) no-repeat 0 -80px
}

.get_password .get_password_box ul li.next,.install_password .install_password_box ul li.next
	{
	padding: 15px 0 20px 130px;
	width: 698px
}

.get_password .get_password_box ul li.next input,.install_password .install_password_box ul li.next input
	{
	width: 73px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	border: 0;
	cursor: pointer;
	background: url(/Images/arrow_button.png) no-repeat 0 -112px
}

.get_password_ok,.install_password_ok {
	width: 978px;
	height: 160px;
	border: 1px solid #e3e3e3;
	background: #fffadc;
	padding: 40px 0 0 0
}

.get_password_ok h3,.install_password_ok h3 {
	width: 204px;
	height: 39px;
	text-indent: -9999px;
	background: url(/Images/login.png) no-repeat 0 -630px;
	margin: 0 auto
}

.install_password_ok h3 {
	background: url(/Images/login.png) no-repeat 0 -710px
}

.install_password_ok p {
	width: 650px;
	line-height: 20px;
	margin: 20px auto 0 auto;
	padding: 20px 0 0 0;
	border-top: 1px solid #f3e9af;
	text-align: center;
	color: #666
}

.install_password_ok p span {
	color: #4d4d4d
}

.install_password_ok p em,.install_password_ok p a {
	color: #f60
}

.get_password_ok p {
	width: 658px;
	padding: 25px 160px;
	font-size: 14px;
	color: #666
}

.get_password_ok p span {
	color: #f60
}

.get_password_ok p input {
	width: 115px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	background: url(/Images/arrow_button.png) no-repeat 0 0;
	border: 0;
	cursor: pointer;
	margin: 10px 0 0 0
}

.install_password .install_password_box ul li p {
	width: 698px;
	height: 20px;
	float: left;
	padding: 5px 0 0 130px;
	overflow: hidden
}

.install_password .install_password_box ul li p span {
	width: 75px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	float: left;
	display: block;
	padding: 0;
	color: #fff;
	background: #efefef;
	margin: 0 3px 0 0
}

.install_password .install_password_box ul li p span.low {
	background: #f00
}

.install_password .install_password_box ul li p span.middle {
	background: #ffd200
}

.install_password .install_password_box ul li p span.high {
	background: #46d500
}